@import "./variables.scss";

.loading{
    // border: 1px solid black;
    width: 100%;
    height: calc(100vh - $nav-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;

}