@import "./_variables";
@import "./_home";
@import "./login&signup";
@import "./navigationBar";
@import "./reactTagsStyle";
@import "./editor";
@import "./userProfile";
@import "./mixins";
@import "./blogLibrary";
@import "./blog";
@import "./utilities";
@import "./loading";

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

.container{
	max-width: 1100px;
	margin: auto;
}
